<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1" />
    <title>2017管理学院新生班级才艺大赛</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/first/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/first/css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/first/js/jquery.1.10.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/first/js/js.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer/layer.js"></script>
</head>

<body>
<img  class="img1" src="__PUBLIC__/first/img/bannerofflogo.jpg" />
<img  class="img3" src="__PUBLIC__/first/img/logo.PNG">
<img  class="img2" src="__PUBLIC__/first/img/testforus.png">
<div class="content">
    <img src="__PUBLIC__/first/img/tpwz.png" class="wenzi" />
    <div id="gs1" class="cl mgl1" style="background: url(__PUBLIC__/first/img/gg6.jpg); background-size: cover; background-position: center;">
        <div id="" class="clname">工管6班</div>
        <div class="pgname">《光荣十年》</div></div>
    <div id="gs2" class="cl mgl" style="background: url(__PUBLIC__/first/img/kj10.jpg); background-size: cover; background-position: center;">
        <div class="clname">会计10班</div>
        <div class="pgname">《Have a good time》</div></div>
    <div id="gs3" class="cl mgl" style="background: url(__PUBLIC__/first/img/rl2.jpg); background-size: cover; background-position: center;">
        <div class="clname">人力2班</div>
        <div class="pgname">《你不知道的事》</div></div>
    <div id="gs4" class="cl mgl" style="background: url(__PUBLIC__/first/img/kj5.jpg); background-size: cover; background-position: center;">
        <div class="clname">会计5班</div>
        <div class="pgname">《推销》</div></div>
    <div id="gs5" class="cl mgt mgl2" style="background: url(__PUBLIC__/first/img/gg2.jpg); background-size: cover; background-position: center;">
        <div class="clname">工管2班</div>
        <div class="pgname">《Love》</div></div>
    <div id="gs6" class="cl mgt mgl" style="background: url(__PUBLIC__/first/img/kj4and6.JPG); background-size: cover; background-position: center;">
        <div class="clname2">人力4班</div><div class="clname3">会计4, 6班</div>
        <div class="pgname">《Burning youths》</div></div>
    <div id="gs7" class="cl mgt mgl" style="background: url(__PUBLIC__/first/img/sy1and2.jpg); background-size: cover; background-position: center;">
        <div class="clname3">市营1, 2班</div>
        <div class="pgname">《Rock the flower》</div></div>
    <div id="vote_details" class="vote" style="display: none">
        <img id="close" class="close" src="__PUBLIC__/first/img/closebutton.png" />
        <div id="clpicture" class="clpicture"></div>
        <p id="vote_clname" class="vote_clname">16工商4班</p>
        <p id="vote_clpg" class="vote_clpg"></p>
        <div id="button" class="button">投票</div>
    </div>
    <!-- 验证码窗口 -->
    <div id="VerifiCode" class="vote" style="display:none">
        <img id="Code_img"  src="__CONTROLLER__/yzm" onClick="this.src=this.src+'?'+Math.random()"/>
        <img id="code_close" class="close" src="__PUBLIC__/first/img/closebutton.png" />
        <input id="Code_text" type="text" name="inputcode">
        <div id="code_order" class="button">提交</div>
    </div>
</div>
<footer>@技术支持：星空学生创新中心</footer>
</body>

</html>