<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/second/CSS/style2.css">
	<title>2017管理学院新生班级才艺大赛</title>
	<script type="text/javascript" src="__PUBLIC__/second/JavaScript/style.js"></script>
	<script type="text/javascript" src="__PUBLIC__/first/js/jquery.1.10.2.js"></script>
</head>
<body>
<section class="part1">
	<ul id="rowsA" class="rows">
		<li id="row1" class="row1"></li>
		<li id="row2" class="row"></li>
		<li id="row3" class="row"></li>
		<li id="row4" class="row"></li>
		<li id="row5" class="row"></li>
		<li id="row6" class="row"></li>
		<li id="row7" class="row"></li>
	</ul>
	<div class="classNames">
		<ul class="c">
			<li id="className1" class="className">工管六班</li>
			<li id="showName1" class="showName">《光荣十年》</li>
		</ul>
		<ul class="c">
			<li id="className2" class="className">会计十班</li>
			<li id="showName2" class="showName">《Have a good time》</li>
		</ul>
		<ul class="c">
			<li id="className3" class="className">人力二班</li>
			<li id="showName3" class="showName">《你不知道的事》</li>
		</ul>
		<ul class="c">
			<li id="className4" class="className">会计五班</li>
			<li id="showName4" class="showName">《推销》</li>
		</ul>
		<ul class="c">
			<li id="className4" class="className">工管二班</li>
			<li id="showName4" class="showName">《Love》</li>
		</ul>
		<ul class="c2">
			<li id="className5" class="className">人力四班</li>
			<li id="className5" class="className">会计四六班</li>
			<li id="showName5" class="showName">《Burning youths》</li>
		</ul>
		<ul class="c">
			<li id="className6" class="className">市营一二班</li>
			<li id="showName6" class="showName">《Rock the flower》</li>
		</ul>
		<ul class="c">
			<li id="className7" class="className"></li>
			<li id="showName7" class="showName"></li>
		</ul>
	</div>
</section>
<section class="part2" id="part2">
	<span class="totalText">总票数</span>
	<div id="bootstrap">
		<div id="bootstrapInner"></div>
	</div>
	<div id="totalNum"></div>
</section>
</body>
</html>